{% extends "layout/insidepage.html" %}

{% block cssfile %}
{% endblock %}

{% block content %}
<div class="box">
    <div class="box-body">
        Page Controls:
        <button type="button" class="btn btn-danger btn-xs" onclick="reset()">reset</button>
    </div>
</div>

<div class="box">
    <div class="box-body">
        <h3>Customers List<button type="button" class="btn btn-box-tool" onclick="getCustomers()"><i
                    class="fa fa-refresh"></i></button></h3>
        <table id="customerstable" class="table table-bordered">
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block jsfile %}
{% endblock %}

{% block jsscript %}
<script>
    $(document).ready(function () {
        getCustomers();
    });

    function reset() {
        apiGET('reset', '', function (data) { alert(data.message) })
    }

    function getCustomers() {
        $("#customerstable tbody").html('<tr><th style="width: 10px">ID</th><th>First Name</th><th>Last Name</th><th>Username</th><th>Password</th></tr>')
        apiGET('hash/data', '', function (results) {
            $.each(results.data, function (key, Obj) {
                $("#customerstable").append('<tr><th>' + Obj[0] + '</th><th>' + Obj[1] + '</th><th>' + Obj[2] + '</th><th>' + Obj[3] + '</th><th>' + Obj[4] + '</th></tr>')
            });
        })
    }
    
    
</script>
{% endblock %}