{% extends "layout/insidepage.html" %}

{% block cssfile %}
{% endblock %}

{% block content %}
<div class="box">
    <div class="box-body">       
        Page Controls:
        <button type="button" class="btn btn-danger btn-xs" onclick="reset()">reset</button>
        <!-- <a type="button" class="btn btn-danger btn-xs" href="/reconexercise/anothersecuritypagethatyoumighthaveneverfoundwithanyscripts">hidden page</a> -->
    </div>
</div>

<div class="box">
    <div class="box-body">
        <h3>Users List<button type="button" class="btn btn-box-tool" onclick="getUsers()"><i
                    class="fa fa-refresh"></i></button></h3>
        <table id="usertable" class="table table-bordered">
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block jsfile %}
{% endblock %}

{% block jsscript %}
<script>
    $(document).ready(function () {
        $('*').contents().each(function() {
            if(this.nodeType === Node.COMMENT_NODE) {
                $(this).remove();
            }
        });

        getUsers();
    });

    function reset() {
        apiGET('reset', '', function (data) { alert(data.message) })
    }

    function getUsers() {        
        apiGET('reconexercise/users/', '', function (data) {
            $("#usertable tbody").html('<tr><th style="width: 10px">ID</th><th>Role</th><th>First Name</th><th>Last Name</th><th>Username</th></tr>')

            $.each(data.data, function (key, Obj) {
                $("#usertable").append('<tr><th>' + Obj[0] + '</th><th>' + Obj[1] + '</th><th>' + Obj[2] + '</th><th>' + Obj[3] + '</th><th>' + Obj[4] + '</th></tr>')
            });
        })
    }
</script>
{% endblock %}