{% extends "layout/insidepage.html" %}

{% block cssfile %}
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-body">
    Page Controls:
    <button type="button" class="btn btn-danger btn-xs" onclick="reset()">reset</button>
  </div>
</div>

<h1>YOU HAVE ACCESS</h1>
{% endblock %}

{% block jsfile %}
{% endblock %}

{% block jsscript %}
<script>
  id = 1
  $(document).ready(function () {
  });

  function reset() {
    apiGET('reset', '', function (data) { alert(data.message); })
  }

</script>
{% endblock %}