<aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/img/user2.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{username}}</p>
          <a href="#">{{useremail}}</a>
        </div>
      </div>
      <form action="#" method="get" class="sidebar-form hide">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="search...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Main Navigation</li>

        <li>
          <a href="{{ url_for('home.main') }}">
            <i class="fa fa-home"></i> <span>Home</span>
          </a>
        </li>

        <li>
          <a href="{{ url_for('recon.main') }}">
            <i class="fa fa-search"></i> <span>Recon</span>
          </a>
        </li>

        <li>
          <a href="{{ url_for('sqli.main') }}">
            <i class="fa fa-database"></i> <span>SQLi</span>
          </a>
        </li>

        <li>
          <a href="{{ url_for('xss.main') }}">
            <i class="fa fa-file-code-o"></i> <span>XSS</span>
          </a>
        </li>

        <li>
          <a href="{{ url_for('brokenauth.main') }}">
            <i class="fa fa-chain-broken"></i> <span>Broken Auth</span>
          </a>
        </li>

        <li>
          <a href="{{ url_for('brokenaccess.main') }}">
            <i class="fa fa-files-o"></i> <span>Broken Access</span>
          </a>
        </li>

        <li>
          <a href="{{ url_for('hash.main') }}">
            <i class="fa fa-lock"></i> <span>Hash</span>
          </a>
        </li>

      </ul>
    </section>
  </aside>